<section class="hero" style="background-image: url('/assets/beijin.jpg')">
  <div class="hero-content">
    <h1>Explorer Runeterra</h1>
    <p>Découvrez les meilleurs jeux !</p>
    <a routerLink="/games" class="cta-button">Afficher la liste des jeux</a>
  </div>
</section>
<section class="featured-games">
  <h2>Recommandations sélectionnées</h2>
  <div class="game-cards">
    <div *ngFor="let game of games" class="game-card">
      <img [src]="game.image" [alt]="game.name">
      <h3>{{ game.name }}</h3>
      <p>{{ game.description }}</p>
      <a [routerLink]="'/game/' + game.id" class="details-button">Voir les détails</a>
    </div>
  </div>
</section>
